body {
  margin: 0;
  padding: 0;
  background-color: #dadde1;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.h-1 {
  font-size: 2.92rem;
}
.h-1-a {
  font-size: 2.52rem;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}
.h-2-a {
  font-size: 2.22rem;
}
.h-2 {
  font-size: 1.92rem;
}
.h-3-a {
  font-size: 1.55rem;
  font-weight: 500;
}
.h-3 {
  font-size: 1.5rem;
}
.h-4 {
  font-size: 1.3rem;
}
.h-5 {
  font-size: 1.1rem;
  font-weight: 500;
}
.h-6 {
  font-size: 1.1rem;
}
.h-6-a {
  font-size: 1rem;
}
*:focus {
  outline: none;
}
.wrapper {
  height: calc(90vh - 65px);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
