.sidenav {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 195px;
}
.sidenav-item {
  height: 50px;
  border-left: 0.2857rem solid;
  margin-left: -0.2857rem;
  width: 100%;
  background: linear-gradient(to right, var(--blue-gray-2) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
}
.open {
  background-position: left bottom;
}
.sidenav-item:hover {
  background-position: left bottom;
  cursor: pointer;
}
.sidenav-item a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.sidenav-item-content {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--blue-gray-9);
  text-transform: uppercase;
  font-size: 0.91rem;
}
.sidenav-item-content svg {
  margin: 0 20px 0 20px;
}
.sidenav-sm {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: width 0.45s linear;
}
.sidenav-sm-container {
  position: relative;
  padding: 0 !important;
  width: 60vw;
  height: 100vh;
  border-left: 0.2857rem solid var(--blue-gray-6);
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.7);
}
.sidenav-sm-logo {
  height: 50px;
  border-bottom: 1px solid var(--blue-gray-3);
}

/* small */
@media only screen and (max-width: 768px) {
  /* .navbar-sm {
    display: block;
  } */
  .sidenav-lg {
    display: none;
  }
}

/* Large */
@media only screen and (min-width: 992px) {
}
