.employee {
  padding: 70px 5vw;
}
.employee .profile {
  display: grid;
  justify-items: center;
}
.employee .profile .container {
  display: grid;
  grid-template-columns: 4fr 12fr;
  width: 67%;
  grid-gap: 4vw;
  padding: 10px;
}
.employee .profile .circular-image {
  height: 176px;
  width: 176px;
  font-size: 4rem;
}
.employee .profile img {
  width: 100%;
}
.employee .profile .profile-name {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  width: 100%;
}
.employee .profile .profile-name span {
  margin-top: 11px;
}
.employee .profile .profile-name span a {
  padding: 2px 11px 4px 11px;
  height: 23px;
  display: inline;
  border: 1px #868686 solid;
  color: black;
  text-decoration: none;
}
.employee .profile .profile-name span a:hover {
  background-color: #868686;
  cursor: pointer;
  transition: 0.8s;
}
.employee .profile .bio {
  margin: 13px 0 15px 0;
  width: 100%;
}
.employee .profile .skills {
  width: 100%;
  /* margin-bottom: 13px; */
}
.employee .profile .skills-list span {
  display: inline;
  margin-right: 10px;
  padding: 0px 5px 5px 5px;
  border: 1px #868686 solid;
}
.employee .profile .skills-list {
  margin-top: 15px;
}
.employee .header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.employee .header span {
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
}
.employee .arrived {
  display: grid;
  justify-items: center;
  margin: 30px 0px;
}
.employee .arrived .container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 67%;
  padding: 15px 0;
  background-color: #ffffff;
}
.employee .arrived .today {
  border-right: 1px solid black;
  text-align: center;
  align-items: center;
  justify-items: center;
  display: grid;
}
.employee .arrived .today p {
  width: 90%;
}
.employee .arrived .today-data {
  display: grid;
  place-items: center;
}
.employee .arrived .today-data input[type='button'] {
  margin-top: 20px;
  border: 1px solid #868686;
  cursor: pointer;
  padding: 2px 11px 4px 11px;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.employee .arrived .today-data input[type='button']:hover {
  background-color: #868686;
  transition: 0.8s;
}
.employee .arrived .customized-data {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 30px;
  justify-items: start;
  padding: 0 18px;
}
.employee .days-appeared .header {
  text-align: start !important;
  cursor: pointer;
}
.employee .days-appeared .header:hover {
  text-decoration: underline;
}
.employee .days-appeared .content {
  text-align: start !important;
  margin: 0;
  padding-left: 20px;
}
.employee .range-picker {
  display: grid;
  justify-items: center;
}
.employee .arrived p {
  text-align: center;
}
.employee .attendance {
  cursor: pointer;
}
.employee .attendance:hover {
  color: #474a59;
}
/* .rdrDateRangePickerWrapper {
  visibility: hidden;
} */
